.App {
  text-align: center;
  background-color:#A9A9A9;
  height: 100vh;
  overflow-y:scroll;
  margin-right: auto;
  margin-left:auto;
  display:block;
  border: 3px solid white;
  padding-left: 100px;
  padding-right: 100px;
}

